gradle-api-2.14.1.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.2.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.3-20161116000043+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.3-20161119000048+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.3-20161129000109+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.3-20161202145356+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.3-rc-1.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.3.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.4-20161207091511+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.4-20161220000031+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.4-20161228213723+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.4-20170105000015+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.4-20170110003143+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.4-20170114000025+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.4.1.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.5-20170125082311+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.5-20170210151807+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.5-20170213202653+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.5-20170221000043+0000.jar filter=lfs diff=lfs merge=lfs -text
gradle-api-3.5-20170307000048+0000.jar filter=lfs diff=lfs merge=lfs -text
